.list-group {
  &.list-group-root {
    padding: 0;
    border-radius: 0;
    overflow: hidden;

    > .list-group {
      margin-bottom: 0;
      margin-left: 16px;
    }

    .list-group-item {
      padding: 2px 10px;
      border-radius: 0.25rem;
      border-width: 0;
      display: flex;
      align-items: center;
      > span {
        // cursor: pointer;
        padding-left: 2px;
        border-radius: 0.25rem;
        border: 1px solid transparent;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > svg {
        width: 16px;
        margin-right: 2px;
        cursor: pointer;
        &.placeholder {
          color: transparent;
          cursor: default;
        }
        &.file {
          color: #ff7b31;
        }
        &.folder {
          color: #c40316;
        }
      }

      &:not(.select-row) {
        background-color: inherit;
        border-color: inherit;
        color: inherit;
        > span {
          cursor: pointer;
          padding-right: 5px;
        }
        &.active {
          > span {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
          }
        }
        &:not(.active) {
          > span:hover {
            background-color: #f8f9fa;
          }
        }
      }

      &.select-row {
        cursor: pointer;

        > span {
          display: inline-block;
          flex-grow: 1;
        }
        &:not(.active):hover {
          background-color: #f8f9fa;
        }
      }
    }
  }
}

