body {
  background-color: #f3f4fa;
}

.main-viewport {
  min-height: calc(100vh - 100px);
}

.main-container {
  margin-top: 60px;
}

.content-container {
  padding: 16px;
}

.side-container {
  padding-top: 16px;
}

.form-buttons {
  margin-top: 1.5rem;
  text-align: right;

  .btn {
    margin: 0 8px;
  }
}

.card {
  &.tab-content {
    border-top-width: 0;
  }
}

.clickable {
  cursor: pointer;
}

td > button {
  width: 64px;
}

.side-container {
  background-color: #fff; 
}

.form-buttons {
  button {
    width: 100px;
  }
}

button.min100 {
  min-width: 100px;
}

/* remove arrows from input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
