.picture-dropzone {
  height: 44px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .75rem;
  margin: 10px 0;
  text-align: center;
  vertical-align: middle;
  background-color: #e0ffff;
}